<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite Parallel">
    <test name="Test Cases">
        <classes>
            <class name="GoogleSearchTests">
               <methods>
                    <parameter name="pattern" value="automation"/>
                    <parameter name="pagesNum" value="5"/>
                    <parameter name="expectedDomainName" value="testautomationday.com"/>
                    <include name="searchPatternAndCheckBrowserTitleTest"/>
                    <!--<include name="tryToFindExpectedDomainNameTest"/>-->
                </methods>
            </class>
        </classes>
    </test>
</suite>